*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    background-color: #0d1d41;
    display: flex;
    justify-content: center;
    height: 70px;
}
nav{
    color: #f1811d;
    width: 80%;
    padding: 20px 0;
    display:flex;
    justify-content: center;
    align-items: center;

}
.active{
    color: #0d1d41;
    background-color: #f1811d;
}
.menu{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.menu > li{
    display:inline;
    margin-top: 0;
    margin-right: 50px;
    padding: 3px;
    text-transform: uppercase;
    border-radius: 10px;
    
}
.menu > li:last-of-type{
    margin-right: 0;
}

body{
    color: #414141;
    background-color:#EEEEEE;
}
.page{
    width: 90%;
    max-width: 900px;
    min-height:calc(100vh - 140px);
    margin: 0 auto;
}
footer{
    height: 70px;
    display: flex;
    background-color: #0d1d41;
    justify-content: space-around;
}
.footer-img{
    width:50px;
    height: 50px;
}
aside{
    display: flex;
    justify-content: center;
}
img{
    width: 30%;
    height: 30%;
}
h1,h2{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-title{
    width: 100%;
    height: 70px;
}
article, .point{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    
    
}
p{
    display: flex;
}
.presentation{
    text-align: center;
    align-items: center;
}
li{
    margin-top: 30px;
}

a{
    color: inherit;
    text-decoration:none;
}
a:hover{
    color: inherit;
}
a:visited{
    color: inherit;
}
.btn {
    text-transform: uppercase;
    border-radius: 28px;
    color: #f1811d;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f1811d;
    color:#0d1d41;
    text-decoration: none;
  }
@media only screen and (max-width: 700px) { /* Mobile */
    .page, nav{
        width: 100%;
    }
    .menu > li:first-of-type{
        margin-left: 50px;
    }
    article, .point{
        align-items: center;
    }
    .point-img{
        width:450px;
        height: 250px;
    }
    
    ul{
        align-items: center;
        list-style-type: none;
    }
    .point>ul>li{
        align-items: center;
        text-align:center;
    }
}
@media only screen and (min-width:701px) {  /* PC */
    
   
    .profile-img{
        width:245px;
        height:300px;
    }
    article, .point, footer{
        flex-direction: row;
    }
    .point>ul>li{
        margin-left: 50px;
        margin-top: 0;
    }

    

}
