*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    background-color: #0d1d41;
    display: flex;
    justify-content: center;
    height: 50px;
}
nav{
    width: 80%;
    padding: 20px 0;
    display:flex;
    justify-content: center;

}
.menu > li{
    color: #f1811d;
    display:inline;
    margin-right: 50px;
    text-transform: uppercase;
}
.menu > li:last-of-type{
    margin-right: 0;
}
body{
    color: #414141;
    background-color:#EEEEEE;
}
.page{
    display:flex;
    margin: 0 auto;
    width: 90%;
    border:1px solid red;
    justify-content: center;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #f1811d;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #f3a158;
}
@media only screen and (max-width: 400px) {
    nav{
        width: 100%;
    }
}